body {
  font-family: Georgia;
  font-size: 16px;
  margin: 0 auto;   /* center content */
  max-width: 800px; /* limit width */
  line-height: 1.5;
  padding-top: 32px;
  padding-bottom: 32px;
}
/* BEGIN (write your solution here) */
P {
  margin: 0 0 12px;  
}
h1, h2, h3 {
    font-weigh: 400;
    margin: 0 0 0; 
} 
h1 {
    font-size: 36px; 
} 
h2 {
    font-size: 32px;
    margin: 0 0 8px; 
    border-bottom: 1px #808080; 
} 
h3 {
    font-size: 20px; 
}
#header {
    margin: 0 0 32px; 
    text-align: center;
} 
#edu {
    margin: 0 0 32px; 
    text-align: center;
    font-weight: bold;
} 
#footer {
    margin: 64px 0; 
    text-align: center;
}
/* END */
